{% extends "layout.html" %}

{% block content %}
    <div>
        <h3 class="row">Add Products</h3>
        <table class="table table-dark">
         <thead >
            <h4>Tags Scanned: </h4>
        </thead>
         {% for i in scanned_tags %}
            <tbody>
                <tr>
                    {{ i }}
                </tr>
            </tbody>
        {% endfor %}
          </table>
        <form method="POST" action="/add_products">
            <div class="form-group row">
                <label for="barcode" class="col-sm-2 col-form-label">Barcode:</label>
                <div class="col-sm-10">
                    <input type="text" name="barcode" class="form-control" id="barcode" placeholder="Please enterbarcode of product" value="{{ name }}">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Add Products</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}